@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Oleo+Script:wght@400;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior: smooth;
}

#image{
    height:280px;
    width:280px;
    border-radius: 30%;
    
   

}

#name{
    color:bisque;
    /*color:#384126;*/
    font-family:  "Bubblegum Sans", sans-serif;
    font-size: 40px;
} 


.text{
    color:#626f47;
    font-size: 40px;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: /*#626f47;*/ #a4b465 ;
    box-shadow: 5px 15px 25px rgba(0,0,0,0.03);
    position: sticky;

}

#navbar{
    display:flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0px 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    color:bisque;
    font-size: 20px;
    line-height:10px;
    transition: 0.2s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: /*#0e1850;*/#626f47;
    text-shadow: #706d54;
    font-size: 25px;
    
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content:"";
    width:30%;
    height:2px;
    background-color:#626f47; 
    position: absolute;
    bottom: -4px;
    left:30px;

}

#hero{
    background-image: url("./image\ folder/untitled design (1).png");
    height:50vh;
    width:100%;
    background-position: top 25% right 0 ;
    background-size: cover;
    padding: 0px 20px ;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    
 

}

#hero .fe-box .feature {
    list-style: none;
    
    justify-content: space-between;
    /*font-family: "Oleo Script", system-ui; 
    color:#f0bb1e; */
    
} 

.feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:50px;
    gap:100px;
    transition: 0.3s ease;;
}




#feature1,
#feature2,
#feature3{
    border:1px solid transparent;
    background-color:  #fff; 
    color:rgb(219, 195, 39);
    box-shadow:0px 4px 10px rgba(0,0,0,0.03);
    margin:0;
    width:280px;
    padding:20px;
    border-radius: 25px;
    font-size:25px;

}

#feature1:hover,
#feature2:hover,
#feature3:hover{
    box-shadow: 30px 30px 30px rgba(21, 17, 17, 0.06);
    border-radius: 50px;;
    

}

h2{
    color: aliceblue;
    font-family: "Oleo Script", system-ui;
}

h4{
    color: aliceblue;
    font-family: "Oleo Script", system-ui;
}

h5{
    font-size: 20px ;
}


.section-p1{
    padding:20px 40px ;
}

.section-m1{
    margin: 0px 0;
}

#one{
    list-style: none;
    border: 1px solid white;
    background-color: white;
}

#two{
    list-style: none;
    border: 1px solid white;
    background-color: white;
}

#three{
    list-style: georgian;
    border: 1px solid white;
    background-color: white;

}

#fruit{
    align:center;
}


#product1{
    text-align: center;
    background-color: #f5ecd5;
}

#product1 h1{
    color: #626f47;
    font-family:"Oleo Script", system-ui;
    font-size: 40px;
    font-weight: 700;
    
}
#product1{
    text-align: center;
}

#product1 .container{
    display: flex;
    align-items: center;
    padding:0 80px;
    justify-content: space-between;  
    flex-wrap: wrap;
    
}

#product1 .pro{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} 

#product1 .pro{
    background-color: #ffffff;
    border: 1px solid #cce7d0;
    border-radius: 12px;
    width: 250px;
    height:300px;
    padding: 15px;
    transition: 0.5s ease;
    margin-bottom: 10px;margin-top: 30px;
}

#product1 .pro img{
    height: 150px;
    width:150px;
    border-radius: 20px;
    
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 14px;
    color: #1a1a1a;
    font-family: none;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243,181,25);
} 

#product1 .pro:hover{
    box-shadow: 30px 30px 50px rgba(2, 2, 2, 0.06);
    background-color: #a4b465;
}

#product1 .container .pro .price{
    color: #088178;
}



#banner{
    background-image: url("image folder/Untitled design (2).png");
    height:50vh;
    width:100%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;  
    
}



.normal{
    border:0;
    width:100px;
    height:40px;
    background-color: rgb(243, 6, 6);
    border-radius: 10px;
    color:white;

}


footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f0bb78;
}


footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer h4{
    font-size: 16px;
    padding-bottom: 20px;
}

footer p{
    font-size: 17px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 16px;
    text-decoration: none;
    color: #222;
    margin-bottom: 16px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #1a1a1a;
    padding-right: 4px;
    cursor: pointer;
}



footer .copyright{
    width: 100%;
    text-align: center;
}



footer .follow #red:hover,
footer a:hover {
    color:red;
}

footer .follow #blue:hover,
footer a:hover {
    color:blue;
}

footer .follow #black:hover,
footer a:hover {
    color:rgb(0, 0, 0);
}