@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "League Spartan", sans-serif;

}
body{
    scroll-behavior: smooth;
}
h1{
     font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2{
    font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4{
    font-size: 20px;
  color: #222;
}
h6{
     font-weight: 700;
  font-size: 12px;
}
p{
     font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}
.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px ;
    background-color: #e3e6f6;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}
#navbar li{
    list-style: none;
    padding:0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size:16px;
    font-weight: 600;
    color:#1a1a1a;
}
#navbar li a.active,
#navbar li a:hover{
    color:#088178;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width:30%;
    height:2px;
    background: #088178;
    position: absolute;
    bottom:-4px;
    left:20px;
}
#hero{
    background-image: url("./img/hero4.png");
    height: 90vh;
    width:100%;
    background-position: top 25% left 0;
    background-size: cover;
    padding:0px 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: #088178;
}
#hero button{
    background-image: url("./img/button.png");
    background-color: transparent;
    border:0;
    padding:14px 80px 14px 65px;
    background-repeat: no-repeat;
    color:#088178;
    font-size:15px;
    font-weight:700px;
}