@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.06);
  background-color:#e3e6f3;
}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li{
  list-style: none;
  padding:0px 20px;
  position: relative;
}

#navbar li a{
  text-decoration: none;
  font-size:16px;
  font-weight: 600;
  color:#1a1a1a;
}

#navbar li a:hover,
#navbar li a.active{
  color: #088178;
}

#navbar li a:hover::after,
#navbar li a.active::after{
  content:"";
  width:23%;
  height:2px;
  background:#088178;
  position: absolute;
  bottom:-4px;
  left:20px;
}

#hero{
  background-image: url("./img/hero4.png");
  height:90vh;
  width:100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding:0px 80px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

#hero h1{
  color:#088178;
}

#hero h4{
  margin-bottom:15px;
}

#hero button{
  background-image: url("./img/button.png");
  background-color: transparent;
  border:0;
  background-repeat: no-repeat;
  font-size: 16px;
  font-weight:700px;
  padding : 14px 80px 14px 65px ;
  color:#088178;
  
}

#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box img{
  width: 100%;
  margin-bottom:10px;
}

#feature .fe-box{
  text-align: center;
  border:1px solid #cce7d0;
  width:180px;
  box-shadow: 20px  20px 34px rgba(0,0,0,0.03); 
  padding:25px 15px;
  border-radius: 4px;
  margin:0px 15px;
}

#feature .fe-box:hover{
  box-shadow:10px 10px 54px rgba(70,62,221,0.1);
}

#feature .fe-box h6{
  display: inline-block;
  padding:9px 8px 6px 8px;
  border:1px solid #cce7d0;
  line-height:1;
  border-radius:4px;
  color:#088178;
  background-color: #fddde4;
}


#feature .fe-box:nth-child(2) h6 {
  background-color:#cdebbc;

}
#feature .fe-box:nth-child(3) h6 {
  background-color:#d1e8f2;
  
}
#feature .fe-box:nth-child(4) h6 {
  background-color:#cdd4f8;
  
}
#feature .fe-box:nth-child(5) h6 {
  background-color:#f6dbf6;
  
}
#feature .fe-box:nth-child(6) h6 {
  background-color:#fff2e5;
  
}

#product1{
  text-align:center;
}

#product1 .pro{
  width:23%;
  min-width:250px;
  border:1px solid #cce7d0;
  border-radius:25px;
  box-shadow:10px 10px 34px rgba(0,0,0,0.02);
  cursor:pointer;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro img{
  width:100%;
  padding:10px 12px;
  border-radius: 20px;
}

#product1 .pro .des{
  text-align: start;
}

#product1 .pro .des i{
  font-size:13px;
  font-weight: 600;
  color: rgba(243,181,62);
}

#product1 .pro .des span{
  font-size: 12px;
  color: #606063;
}

#product1 .pro  .des h4{
  color:#088178;
  font-size: 14px;
  font-weight: 700;
}

#product1 .pro h5{
  color:#1a1a1a;
  font-size:15px;
  padding:7px 0px 0px;
}

#product1 .cart{
  color:#088178;
  border: 1px solid #088178;
  border-radius: 50px;
  position: absolute;
  background-color:;
  bottom:20px;
  right:25px;
}

