@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
  padding:20px 80px;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;

}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;

}

#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a{
  text-decoration: none;
  font-size:16px ;
  font-weight: 600;
  color: #1a1a1a;
}

#navbar li a.active,
#navbar li a:hover{
   color: #088178;
}


#navbar li a.active::after,
#navbar li a:hover::after{

    content:" ";
    height:2px;
    width: 30px;
    position: absolute;
    background: #088178;
    bottom: -4px;
    left: 20px;
}

#hero{
  background-image: url("./img/hero4.png");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% bottom 0;
  padding:20px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  
}

#hero h4{
  margin-bottom: 15px;
}

#hero h1{
  color: #088178;
}

#hero button{
  
  background-image: url("./img/button.png");
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  padding: 14px 80px 14px 54px;
  color: #088178;
  font-size: 12px;
  font-weight: 700;
}

#feature .fe-box img{
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box{
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0px;
}

#feature .fe-box:hover{
  box-shadow: 10px 10px 54px rgba(70,60,221,0.1);
}

#feature .fe-box h6{
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}

#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}


#feature .fe-box:nth-child(2) h6{
  background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6{
  background-color:#d1e8f2;
}

#feature .fe-box:nth-child(4) h6{
  background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6{
  background-color:#f6dbf6;
}

#feature .fe-box:nth-child(6) h6{
  background-color:#fff2e5;
}

#product1{
  text-align: center;
}

#product1 .pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  
}

#product1 .pro img{
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des{
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span{
  color: #606063;
  font-size: 12px;
}
